<!-- Related Section Begin -->
  <section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                      <img src="assets/img/product/Gucci/Four Homme EDT/po1.jpg" alt="">
                        <span class="label">New</span>
                        <ul class="product__hover">
                          <li><a routerLink="#"><img src="assets/img/icon/heart.png" alt=""><span>Yêu thích</span></a></li>
                          <li><a routerLink="#"><img src="assets/img/icon/cart.png" alt=""><span>Giỏ hàng</span></a></li>
                          <li><a routerLink="/user/shop-details"><img src="assets/img/icon/compare.png" alt=""><span>Chi tiết</span></a></li>
                      </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                      <img src="assets/img/product/Calvin Klein/Contradiction/co1.jpg" alt="">
                        <!-- <span class="label">New</span> -->
                        <ul class="product__hover">
                          <li><a routerLink="#"><img src="assets/img/icon/heart.png" alt=""><span>Yêu thích</span></a></li>
                          <li><a routerLink="#"><img src="assets/img/icon/cart.png" alt=""><span>Giỏ hàng</span></a></li>
                          <li><a routerLink="/user/shop-details"><img src="assets/img/icon/compare.png" alt=""><span>Chi tiết</span></a></li>
                      </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>Piqué Biker Jacket</h6>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>$67.24</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </section>
<!-- Related Section End -->
