<!-- Footer Section Begin -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <!-- <div class="footer__logo">
              <a routerLink="/user/home"><img src="assets/img/logo_menu_scroll.jpg" alt /></a>
            </div> -->
            <p>
              Họ và tên: Phạm Huy Hoàng
              <br>
              Mã SV    : 12520068
              <br>
              Tên đề tài: Xây dựng website giới thiệu và bán nước hoa online
              <!-- Khách hàng là trung tâm của mô hình kinh doanh độc đáo của chúng
              tôi, bao gồm cả thiết kế. -->
            </p>
            <a routerLink="#"><img src="assets/img/payment.png" alt /></a>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Mua Sắm</h6>
            <ul>
              <li><a routerLink="#">Cửa hàng nước hoa</a></li>
              <li><a routerLink="#">Nước hoa Xu Hướng</a></li>
              <li><a routerLink="#">Thương hiệu</a></li>
              <li><a routerLink="#">Chăm sóc khách hàng</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Thông Tin</h6>
            <ul>
              <li><a routerLink="#">Liên hệ chúng tôi</a></li>
              <li><a routerLink="#">Hình thức thanh toán</a></li>
              <li><a routerLink="#">Vận chuyển</a></li>
              <li><a routerLink="#">Trả lại & Trao đổi</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6>BẢN TIN</h6>
            <div class="footer__newslatter">
              <p>
                Hãy là người đầu tiên biết về sản phẩm mới, các chương trình khuyến mãi của cửa hàng!
              </p>
              <form action="#">
                <input type="text" placeholder="Gửi email" />
                <button type="submit"><span class="icon_mail_alt"></span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<!-- Footer Section End -->
